# Entorno virtual y dependencias
__pycache__/
*.pyc
venv/
env/
.env
appPrompt/

# Modelos pesados (Embeddings)
models/
ui/embeddings/model/
ui/embeddings/cache/
cache/
.cache/
*.pt
*.bin
*.onnx
*.safetensors
*.tfevents

# Archivos de construcción y distribución
build/
dist/
*.spec
installer/

# IDEs y configuración local
.vscode/
.idea/
*.swp

# Logs y datos temporales
logs/
*.log
bridge/

